* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414;
  color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 100;
  transition: background-color 0.3s;
}

.navbar {
  background-color: #141414;
}

.logo {
  height: 25px;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #b3b3b3;
}

.navbar-right {
  display: flex;
  align-items: center;

  gap: 20px;
}

.navbar-right i {
  font-size: 20px;
  cursor: pointer;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  height: 80vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(stranger-things-5k-wallpaper-preview.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  margin-bottom: 20px;
}

.hero-content {
  max-width: 600px;
  margin-right: 400px;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 24px;
  color: #e5e5e5;
}

.hero-button {
  display: flex;
  gap: 16px;
}

.btn {
  margin-top: 13px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  border-color: transparent;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: all 0.3s;
}

.btn-play {
  padding-right: 5px;
  background-color: #fff;
  color: #000;
}

.btn-play:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-more-info {
  background-color: rgba(109, 109, 110, 0.5);

  color: white;
}

.btn-more-info:hover {
  background-color: black;
}

/*move card*/

.container {
  max-width: 100%;
  background-color: #141414;
  padding: 0 4%;
}

.content-section {
  margin-bottom: 50px;
}

.content-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  letter-spacing: 0.5px;
}

.content-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.content-row::-webkit-scrollbar {
  height: 8px;
}

.content-row::-webkit-scrollbar-track {
  background: transparent;
}

.content-row::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

.content-card {
  position: relative;
  min-width: 256px;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.content-card:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: brightness 0.3s ease;
}

.content-card:hover img {
  filter: brightness(0.4);
}

/* Netflix BADGE */

.netflix-badge {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #e50914;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
  margin-top: 1px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 15px;
}

.content-card:hover .card-overlay {
  opacity: 1;
}

.overlay-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.overlay-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay-title {
  margin-top: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.overlay-control {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.control-btn {
  width: 35px;
  height: 35px;
  border: transparent;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  font-size: 14px;
}
.control-btn:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
}

.play-btn .check-btn .thumbs-btn .more-btn {
  background: white;
  color: black;
}

.overlay-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-botton: 8px;
  flex-wrap: wrap;
}

.info-badge {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
}

/* button icns */
.play-btn::before {
  content: "▶";
}
.check-btn::before {
  content: "✔";
}
.thumbs-btn::before {
  content: "👍";
}
.more-btn::before {
  content: "▼";
}

.content-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear_gradient(
    to bottom,
    transparent 0%,
    transparent 50% rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 1;
}

/* responsiveness */
@media (max-width: 120px) {
  .container {
    padding: 0 3%;
  }

  .container-card {
    min-width: 220px;
    height: 125px;
  }

  .content-title {
    font-size: 1.6rem;
  }
}

@media (max-width: 760px) {
  .container {
    padding: 0 2%;
  }
  .content-card {
    min-width: 180px;
    height: 100px;
  }
}

/*footer*/
.down {
  background-color: black;
  bottom: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: #b3b3b3;
  /* Break very long words */
  overflow: auto;
}

.navfooter {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  transition: background-color 0.3s;
}

.icon-section {
  padding: 50px;
}

.icon-row {
  display: flex;
  gap: 30px;
  font-size: 22px;
  flex-direction: row;
}

.icon-row i {
  cursor: default;
}

.icon-row i:hover {
  color: #e5e5e5;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 5vh;
  text-align: left;
  gap: 50px;
  background: transparent;
  text-align: left;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s;
  cursor: default;
}

.footer-links a:hover {
  color: #fff;
}

.code-box {
  padding: 10px 20px;

  margin-top: 9vh;
  display: inline-block;
  border: 1px;
  border-style: solid;
  display: inline-flex;
  cursor: default;
}

.code-box a {
  text-decoration: none;
  color: #ccc;
}

.code-box:hover {
  color: #e5e5e5;
  cursor: default;
}

.copyright {
  margin-left: 50px;
  margin-bottom: 10px;
}
